body{
    background-color:beige;
    display: flex;
    
}


.box-1{
    display:inline-block;
    border: 0px solid black;
    height: 400px;
    width: 280px;
    margin-left: 180px;
    margin-right: auto;
    text-align: center;
    background-color: orange;
    color: white;
    margin-top: 50px;

}

h1{
    padding-top: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 100px;
}

p{
    padding-top: 45px;
    margin-bottom: 75px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    font-style: italic;
}

button{
     font-size: 20px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
     padding-right: 10px;
     color: white;
     background: orchid;
     border-radius: 13px;
     border: 3px solid white;
}

.box-2{
    border: 0px solid black;
    height: 400px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:cornflowerblue;
    color: white;
    margin-top: 50px;

}

h1{
    padding-top: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 100px;
}

p{
    padding-top: 45px;
    margin-bottom: 75px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    font-style: italic;
}

button{
     font-size: 20px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
     padding-right: 10px;
     color: white;
     background: orchid;
     border-radius: 13px;
     border: 3px solid white;
}


.box-3{
    border: 0px solid black;
    height: 400px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:lightseagreen;
    color: white;
    margin-top: 50px;

}

h1{
    padding-top: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 100px;
}

p{
    padding-top: 45px;
    margin-bottom: 75px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 17px;
    font-style: italic;
}

button{
     font-size: 20px;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
     padding-right: 10px;
     color: white;
     background: orchid;
     border-radius: 13px;
     border: 3px solid white;
}